include README.md
include LICENSE
recursive-exclude mocks *
recursive-exclude snapshots *
recursive-exclude docs *
recursive-exclude tests *
recursive-exclude core *
recursive-include image_uploader_widget *
recursive-include image_uploader_widget/static *
recursive-include image_uploader_widget/templates *