include README.md
include LICENSE
recursive-exclude image_uploader_widget_demo *
recursive-exclude tests *
recursive-exclude utils *
recursive-include image_uploader_widget *
recursive-include image_uploader_widget/static *
recursive-include image_uploader_widget/templates *