@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-column-center {
    @include flex-column();
    align-items: center;
}

@mixin flex-column-center-center {
    @include flex-column-center();
    justify-content: center;
}

@mixin flex-row-stretch {
    @include flex-row();
    align-items: stretch;
}

@keyframes arrow-flashing {
    from {
        opacity: 0;
        transform: scale(0) translateY(12px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@mixin make-root {
    /* behaviour */
    user-select: none;

    /* sizing */
    min-width: 300px;
    height: 200px;

    /* shape */
    border-radius: 5px;
    padding: 5px;

    /* styles */
    background-color: var(--iuw-background);
    border: 3px dashed var(--iuw-border-color);
    color: var(--iuw-color);
    
    /* positioning */
    position: relative;

    /* overflowing */
    overflow-y: hidden;
    overflow-x: auto;

    /* childs */
    @include flex-row-stretch();

    input[type=file],
    input[type=checkbox] {
        display: none;
    }
}

@mixin make-empty {
    /* positioning */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 50;

    /* display */
    @include flex-column-center-center;
    
    /* text */
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: var(--iuw-placeholder-text-color);

    /* behaviour */
    cursor: pointer;

    /* animations */
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;

    /* childs */
    > svg {
        width: 50px;
        height: 50px;
        margin-bottom: 30px;
        transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease;
    }

    &:hover {
        > svg {
            width: 80px;
            height: 80px;
            margin-bottom: 10px;
        }
    }

    > span {
        text-align: center;

        span {
            color: var(--iuw-placeholder-destak-color);
        }
    }
}

@mixin make-drop-label {
    /* positioning */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 55;

    /* style */
    background: var(--iuw-dropzone-background);

    /* display */
    @include flex-column-center-center();

    /* text */
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: var(--iuw-placeholder-text-color);

    /* behaviour */
    cursor: grabbing;

    /* animations */
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;
    
    /* childs */
    > svg {
        width: 90px;
        height: 90px;
        margin-bottom: 20px;
        transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease;

        path:last-child {
            transform-origin: 50% 100%;
            animation: arrow-flashing 1.1s;
            animation-timing-function: ease-in;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
            animation-delay: 0.3s;
        }
    }

    > span {
        text-align: center;

        span {
            color: var(--iuw-placeholder-destak-color);
        }
    }
}

@mixin make-image-preview {
    /* style */
    border: 1px solid var(--iuw-image-preview-border);
    box-shadow: 0 0 4px 0 var(--iuw-image-preview-shadow);

    /* shape */
    width: 160px;
    margin: 0 5px;
    border-radius: 5px;
    overflow: hidden;

    /* behaviour */
    cursor: pointer;

    /* positioning */
    position: relative;

    /* childs */
    img {
        /* sizing */
        width: 100%;
        height: 100%;

        /* display mode */
        object-fit: cover;
        object-position: center;
    }

    .iuw-delete-icon {
        /* shape */
        width: 32px;
        height: 32px;
        border-radius: 0 5px 0 0;

        /* styles */
        border: 1px solid #BFBFBF;
        border-top: none;
        border-right: none;
        background-color: #F5F5F5;
        opacity: 0.6;

        /* positioning */
        position: absolute;
        right: 0;
        top: 0;
        z-index: 45;

        /* display */
        @include flex-column-center-center();
        
        /* animations */
        transition: opacity 0.3s ease;

        /* icon */
        svg {
            width: 16px;
            height: auto;
            transform: none;
            transition: transform 0.3s ease;
        }
    }

    &:hover {
        .iuw-delete-icon {
            opacity: 1;

            svg {
                transform: scale(1.3);
            }
        }
    }
}
