.iuw-root, .iuw-root * {
    box-sizing: border-box;
}

.iuw-root {
    /* base widget */
    @include make-root();

    /* empty label */
    .iuw-empty {
        @include make-empty();
    }
    &:not(.non-empty) {
        .iuw-empty {
            height: 100%;
            opacity: 1;
        }
    }
    &.drop-zone {
        .iuw-empty {
            height: 0;
            opacity: 0;
        }
    }

    /* drop label */
    .iuw-drop-label {
        @include make-drop-label();
    }
    &.drop-zone {
        .iuw-drop-label {
            height: 100%;
            opacity: 1;
        }
    }

    /* image preview */
    .iuw-image-preview {
        @include make-image-preview();
    }
}