body {
    --iuw-background: #ffffff;
    --iuw-color: #222;
    --iuw-border-color: #222;
    --iuw-item-background-color: #CCC;
    --iuw-item-foreground-color: #222;

    @media (prefers-color-scheme: dark) {
        --iuw-background: #121212;
        --iuw-color: #FFF;
        --iuw-border-color: #CCC;
        --iuw-item-background-color: #CCC;
        --iuw-item-foreground-color: #121212;
    }

    @mixin widget-root {
        user-select: none;

        min-width: 300px;
        height: 200px;
        
        border-radius: 5px;
        padding: 5px;

        background-color: var(--iuw-background);
        border: 1px solid var(--iuw-border-color);
        color: var(--iuw-color);

        position: relative;

        overflow-y: hidden;
        overflow-x: auto;

        display: flex;
        flex-direction: row;
        align-items: stretch;

        input[type=file],
        input[type=checkbox] {
            display: none;
        }

        .iuw-empty {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;

            flex-direction: column;
            align-items: center;
            justify-content: center;

            cursor: pointer;

            display: none;
        }
        &:not(.non-empty) {
            .iuw-empty {
                display: flex;
            }
        }

        .iuw-delete-icon {
            width: 32px;
            height: 32px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 50%;
        
            position: absolute;
            top: 0;
            right: 0;
            z-index: 50;
        
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @mixin image-preview {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 160px;
        margin: 0 5px;

        border-radius: 5px;
        padding: 5px;

        background: var(--iuw-item-background-color);

        cursor: pointer;

        position: relative;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .iuw-root {
        @include widget-root();

        .iuw-image-preview {
            @include image-preview();
        }
    }

    .iuw-inline-root {
        @include widget-root();

        .inline-related {
            @include image-preview();

            &.empty-form {
                display: none;
            }
            &.deleted {
                display: none;
            }
        }

        > div {
            height: 100%;
            width: auto;

            display: flex;
            flex-direction: row;
            align-items: stretch;
        }

        .iuw-add-image-btn {
            width: 160px;
            background: var(--iuw-item-background-color);
            color: var(--iuw-item-foreground-color);
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            border-radius: 5px;
            padding: 5px;

            cursor: pointer;

            display: none;
            
            svg {
                fill: var(--iuw-item-foreground-color);
            }
        }

        &.non-empty {
            &:not(.visible-by-number) {
                display: none;
            }

            &.visible-by-number {
                display: flex;
            }
        }
        &:not(.non-empty) {
            .iuw-add-image-btn {
                display: none;
            }
        }
    }
}
